body {
    background-color: black;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img {
    margin: 0 1em;
}
.header, header > img {
    height: 10em;
}
.rrss, .rrss > a > img {
    height: 5em;
}
.header {
    background-color: rgb(51, 51, 51);
    color: black;
    width: 100%;
}
.header > h1 {
    font-family: monospace;
    font-size: 2rem;
}
section {
    padding: 1em;
}
iframe {
    max-width: 100%;
}
footer {
    background-color: rgb(51, 51, 51);
    color: bisque;
    font-size: medium;
    text-align: center;
    font-family: monospace;
}
/* media query */
@media (max-width: 900px) {
    .seccion-musica {
        flex-direction: column;
    }
    .gif {
        margin-bottom: 2em;
        width: 80%;
    }
    .rrss > a > img {
        height: 3em;
    }
}